<mat-form-field class="search-input">
  <mat-label>Artysta</mat-label>
  <input matInput placeholder="Wprowadź nazwe artysty" [ngModel]="artistQuery" (ngModelChange)="searchQueryChanged($event)">
</mat-form-field>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let artist of artists">
    <mat-card class="artist-card" (click)="openArtistPage(artist)">
      <mat-card-header>
        <mat-card-title>{{artist.name}}</mat-card-title>
      </mat-card-header>
      <img *ngIf="artist.image" mat-card-image [src]="artist.image" [alt]="artist.name">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
